<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Demo</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
<table style="width: 50%;margin-top: 5x;margin-left: 40px;" class="table">
    <div style="width: 20%;
    margin-left: 40px;
    margin-top: 20px;
    display: flex;">
    <form class="d-flex" th:action = "@{/search}" method="get">
        <input  class="form-control me-2" type="search" placeholder="Search" name = "keyword" th:value = "${keyword}" aria-label="Search">
        <button class="btn btn-outline-primary" type="submit">Search</button>
    </form>
    </div>
    <thead>
    <tr>
        <th scope="col">
            <a th:href="@{'/home/' + ${currentPage} + '?sortField=fullName&sortDir=' + ${reverseSortDir}}">
                Full Name</a>
        </th>
        <th scope="col">
            <a th:href="@{'/home/' + ${currentPage} + '?sortField=address&sortDir=' + ${reverseSortDir}}">
            Address</a>
        </th>
        <th scope="col">
            <a th:href="@{'/home/' + ${currentPage} + '?sortField=number&sortDir=' + ${reverseSortDir}}">
                Number</a>
        </th>
    </tr>
    </thead>
    <tbody>
    <tr th:each = "u : ${users}">
        <td th:text = "${u.fullName}"></td>
        <td th:text = "${u.address}"></td>
        <td th:text = "${u.number}"></td>
    </tr>
    </tbody>
</table>

<div style="margin-left: 40px;" th:if = "${totalPages > 1}">
    <div style="width: 100%" class = "row col-sm-10">
        <div class = "col-sm-2">
            Total Rows: [[${totalItems}]]
        </div>
        <div class = "col-sm-1">
					<span th:each="i: ${#numbers.sequence(1, totalPages)}">
						<a th:if="${currentPage != i}" th:href="@{'/home/' + ${i}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">[[${i}]]</a>
						<span th:unless="${currentPage != i}">[[${i}]]</span>  &nbsp; &nbsp;
					</span>
        </div>
        <div class = "col-sm-1">
            <a th:if="${currentPage < totalPages}" th:href="@{'/home/' + ${currentPage + 1}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Next</a>
            <span th:unless="${currentPage < totalPages}">Next</span>
        </div>

        <div class="col-sm-1">
            <a th:if="${currentPage < totalPages}" th:href="@{'/home/' + ${totalPages}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Last</a>
            <span th:unless="${currentPage < totalPages}">Last</span>
        </div>
    </div>
</div>
</body>
</html>